
.box{
    position: relative;
    margin: auto;
    display: block;
    margin-top: 8%;
    width: 200px;
    height: 200px;
    background: red;
}

.vertical_bar{
    position: absolute;
    background: white;
    width: 20%;
    height: 60%;
    left: 40%;
    top: 20%;
    border-radius: 5px;
    z-index: 4;
}
.horizontal_bar{
    position: absolute;
    background: white;
    width: 60%;
    height: 20%;
    left: 20%;
    top: 40%;
    border-radius: 5px;
    z-index: 4;
}
